@charset "UTF-8";
/*Damos estilos a los títulos*/
h1 {
  color: darkslategray;
  background-color: goldenrod;
  font-family: 'Open Sans Condensed', sans-serif; }

h5 {
  color: #050107;
  font-family: 'Open Sans Condensed', sans-serif; }

/*Damos estilos al texto*/
p {
  color: black;
  font-size: 16pt;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500; }

/*Damos estilos al menú*/
ul {
  color: red; }

li {
  color: darkgreen; }

/*Cuando vayamos a alguna sección las letras se verán verde*/
a:link {
  color: darkgreen; }

/*Cuando hayamos visitado la sección las letras se verán de color bordo*/
a:visited {
  color: darkred; }

/*Cuando pasemos con el mouse sobre el nombre de la sección se verá de color amarillo*/
a:hover {
  color: gold; }

/* fondo de body*/
body {
  background-image: url(https://previews.123rf.com/images/sunnyfrog/sunnyfrog1610/sunnyfrog161000051/64525181-fondo-claro-con-copos-de-nieve-y-estrellas-ilustraci%C3%B3n-vectorial.jpg);
  background-size: 100%; }

/*Caracteristicas de primera sección*/
.primerseccion .container h5 {
  font-size: 6rem; }

.primerseccion .container img {
  width: 100%;
  text-transform: uppercase; }

/*Características de la lista*/
#listapricipal {
  width: 100px;
  height: 100px;
  padding-top: 1000px;
  padding-left: 500%;
  position: relative; }

/*presentación*/
.presentación .container p {
  font-size: 1rem; }

/*footer*/
/* .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
/* -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
/* } */
/*
   Multicoloured Hover Variations
*/
#social-fb:hover {
  color: #3B5998; }

#social-tw:hover {
  color: #4099FF; }

#social-gp:hover {
  color: #d34836; }

#social-em:hover {
  color: #f39c12; }
